# Java/Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Dependências
node_modules/
frontend/node_modules/
backend/node_modules/

# Arquivos de build
dist/
build/
*.log

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente locais
frontend/.env.local
frontend/.env

# Mas mantenha o .env.production para subir
!frontend/.env.production

# Configurações Java locais
backend/src/main/resources/application-local.properties